<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Default title</title>
    {% endif %}
</head>
<body>
    <div>
        <span>Microblog:</span>&nbsp;
        <span></span><a href="/index">Home</a></span>
        {% if g.user.is_authenticated %}
            <span>&nbsp;|&nbsp;<a href="{{ url_for('user', nickname=g.user.nickname) }}">Profile</a></span>
            <form style="display: inline;" action="{{ url_for('search') }}" method="post" name="search">
                {{ g.search_form.hidden_tag() }}
                {{ g.search_form.search(size=20) }}
                <input type="submit" value="Search" />
            </form>
            <span>&nbsp;|&nbsp;<a href="{{ url_for('logout') }}">Logout</a></span>
        {% endif %}
    </div>
    <hr />
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li><span style="color: green;">{{ message }}</span></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
