{% extends "base.html.jinja2" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <div>
        <span>Please enter your OpenID:</span>
        {{ form.openid(size=80) }}
    </div>
    <div>
        <span>Remember me</span>
        {{ form.remember_me }}
    </div>
    <div>
        <input type="submit" value="Sign In" />
    </div>
    </form>
{% endblock %}
